<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Dictionary</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- jQuery UI CSS -->
    <link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>

<header th:replace="fragment/header :: header"></header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div th:replace="fragment/sidebar-menu :: menu">
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div layout:fragment="page-content">
            </div>
        </main>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>

<script>feather.replace()</script>

<th:block layout:fragment="page-scripts">
</th:block>

</body>
</html>
