<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="word" type="ru.spb.altercom.vocabulary.word.Word"*/-->
<div th:fragment="word-card(word)"
     class="card border-0 mb-3 shadow" style="max-width: 18rem;"
     th:id="|card${word.getId()}|" draggable="true">
    <div class="card-header bg-primary text-light">
        <span class="fw-bold" th:text="${word.getName()}"></span>
        <span class="badge rounded-pill bg-danger float-end" th:text="${word.getCategory()}"></span>
        <span class="badge bg-secondary float-end me-2" th:text="${word.getPartOfSpeech()}"></span>
    </div>
    <div class="card-body">
        <p class="card-text" th:text="${word.getDescription()}"></p>
    </div>
    <div class="card-body text-primary mb-2">
        <p class="card-text" th:utext="${word.getExample()}"></p>
    </div>
</div>

</html>
