<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>[[${word.getName()}]]</title>
</head>
<body>
    <div layout:fragment="page-content" id="schema-container">
        <div th:replace="fragment/caption :: caption(title=${word.getName()})">
        </div>
        <div class="accordion" id="accordionSchema">
            <div class="accordion-item" th:each="l1, iter1: ${articleForm.getChildren()}" th:if="${!l1.isIndex()}">
                <h2 class="accordion-header" th:id="|heading${iter1.count}|">
                    <button class="accordion-button" type="button"
                            data-bs-toggle="collapse" th:data-bs-target="|#collapse${iter1.count}|"
                            aria-expanded="true" th:aria-controls="|collapse${iter1.count}|"
                            th:utext="${l1.getText()}">
                    </button>
                </h2>
                <div th:id="|collapse${iter1.count}|" class="accordion-collapse collapse" th:classappend="${l1.isSimple()? 'show': ''}" th:aria-labelledby="|heading${iter1.count}|">
                    <div class="accordion-body">
                        <span th:each="l2, iter2: ${l1.getChildren()}">
                            <button class="l2 btn btn-light text-wrap me-5 mb-2"
                                    th:utext="${l2.getText()}"
                                    type="button"
                                    data-bs-toggle="collapse" th:data-bs-target="|#collapseL2${iter1.count}_${iter2.count}|"
                                    aria-expanded="false" th:aria-controls="|collapseL2${iter1.count}_${iter2.count}|"
                                    style="width: 200px;">
                            </button>
                            <div class="collapse mb-3" th:id="|collapseL2${iter1.count}_${iter2.count}|">
                                <div class="card card-body" th:utext="${l2.getHtml()}" style="max-width: 500px;">
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
